# 6.4. Pymongo üçÉ

In [1]:
from IPython.display import IFrame
documentation = IFrame(src='https://pymongo.readthedocs.io/en/stable/tutorial.html', width=1000, height=500)
display(documentation)

## 1. 3 ways of interacting with a MongoDB

1.1 Install MongoDB locally

1.2 Use Docker

>Important Note: because I have both a local installation of MongoDB and a container running MongoDB, I have to change the port used for the container to 27027 instead of the default 27017

* docker run --name mymon -it -d -p 27027:27017 mongo
    
* docker exec -it mymon mongo

3. pymongo python package

In [ ]:
#!pip3 install pymongo

In [2]:
# pymongo is the MongoDB equivalent of sqlalchemy
import pymongo

###  -  SQL and MongoDB command comparisons :

|PostgreSQL|MongoDB|
|---|---|
|database|database|
|table|collection|
|row|document or BSON document|
|column|field|
|index|index|
|table joins|embedded docuemnts and linking|
|where| \\$match |
|group by|\\$group |
|count()|\\$sum|
|order by|\\$sort|
|limit|\\$limit|
|select|\\$project|
|having|\\$match|

* Further reading : https://docs.mongodb.com/manual/reference/sql-aggregation-comparison/

### - Toy example: with a very random dictionary

In [3]:
cars = [ 
    {'color': 'black', 'size' : 'rather big', 'type' : 'sports' , 'price': '20000'},
    {'color': 'red', 'size' : 'small', 'status': 'new', 'price': '12000'},
    {'color': 'grey', 'status' : 'used' ,'price': 9000},
    {'color': 'white', 'price': 29000, 'brand':'bmw'},
    {'color': 'blue', 'status': 'new', 'price': 350000},
    {'color': 'green', 'price': 21000, 'brand':'vw'},
    {'color': 'purple', 'price': 41400, 'status':'new'}]

### 1.2. Connect to the MongoDB server inside of the container

* IMPORTANT: have the docker container (or a local installation running)

In [5]:

client = pymongo.MongoClient(host='localhost', port=27017) 
db = client.testdb #creating a new local mongo db

# 2. MongoDB basic commands

| command| explanation |
|-----------|---------|
| `db` | current database |
| `show dbs` | list of all databases |
| `use database_name` |switch to a new database or existing one |
| `show collections` | list of all collections in a database |
| `db.createCollection("name_collection")` | create a collection|
| `db.name_collection.drop()` | drop a collection|
| `db.DropDatabase()` | drop the current database |

### 2.1. Choose a database

In [6]:
db = client.spiced

### 2.2. List all databases

In [7]:
client.list_database_names()

['admin', 'config', 'local', 'spiced']

### 2.3. List of collections in the database you are using

In [8]:
db.list_collection_names()

['students']

In [9]:
db.students.insert_one({'name': 'Mirna'})

### 2.4. Create one new collection while inserting the first entry

* collection.insert_one()

In [10]:
db.name

'spiced'

In [11]:
neighbour_car = {'name':'big car outside campus', 'size':'big', 'color': 'black'}

In [12]:
# Insert neighbour car into the collection
db.cars.insert_one(neighbour_car)

In [13]:
db.cars.insert_one({'name':'That Porsche', 'size':'normal', 'price': 'very expensive'})

In [14]:
db.cars.estimated_document_count()

2

### 2.5. Take a look at the documents inside

In [16]:
db.cars.find_one()

{'_id': ObjectId('620bb1fbe882573a3874387e'),
 'name': 'big car outside campus',
 'size': 'big',
 'color': 'black'}

In [17]:
list(db.cars.find())

[{'_id': ObjectId('620bb1fbe882573a3874387e'),
  'name': 'big car outside campus',
  'size': 'big',
  'color': 'black'},
 {'_id': ObjectId('620bb1fce882573a3874387f'),
  'name': 'That Porsche',
  'size': 'normal',
  'price': 'very expensive'}]

In [18]:
cars_documents = db.cars.find()

In [19]:
next(cars_documents)

{'_id': ObjectId('620bb1fbe882573a3874387e'),
 'name': 'big car outside campus',
 'size': 'big',
 'color': 'black'}

In [20]:
for document in db.cars.find():
    print(document)

{'_id': ObjectId('620bb1fbe882573a3874387e'), 'name': 'big car outside campus', 'size': 'big', 'color': 'black'}
{'_id': ObjectId('620bb1fce882573a3874387f'), 'name': 'That Porsche', 'size': 'normal', 'price': 'very expensive'}

### 2.6. Insert the complete dictionary

* collection.insert_many()

In [21]:
cars

[{'color': 'black', 'size': 'rather big', 'type': 'sports', 'price': '20000'},
 {'color': 'red', 'size': 'small', 'status': 'new', 'price': '12000'},
 {'color': 'grey', 'status': 'used', 'price': 9000},
 {'color': 'white', 'price': 29000, 'brand': 'bmw'},
 {'color': 'blue', 'status': 'new', 'price': 350000},
 {'color': 'green', 'price': 21000, 'brand': 'vw'},
 {'color': 'purple', 'price': 41400, 'status': 'new'}]

In [22]:
db.cars.insert_many(cars)

In [23]:
db.cars.estimated_document_count()

9

In [ ]:
### Insert result of "query" driectly into pandas

In [24]:
import pandas as pd

In [25]:
pd.DataFrame(db.cars.find())

,_id,name,size,color,price,type,status,brand
0,620bb1fbe882573a3874387e,big car outside campus,big,black,NaN,NaN,NaN,NaN
1,620bb1fce882573a3874387f,That Porsche,normal,NaN,very expensive,NaN,NaN,NaN
2,620bb258e882573a38743880,NaN,rather big,black,20000,sports,NaN,NaN
3,620bb258e882573a38743881,NaN,small,red,12000,NaN,new,NaN
4,620bb258e882573a38743882,NaN,NaN,grey,9000,NaN,used,NaN
5,620bb258e882573a38743883,NaN,NaN,white,29000,NaN,NaN,bmw
6,620bb258e882573a38743884,NaN,NaN,blue,350000,NaN,new,NaN
7,620bb258e882573a38743885,NaN,NaN,green,21000,NaN,NaN,vw
8,620bb258e882573a38743886,NaN,NaN,purple,41400,NaN,new,NaN

### 2.7. Drop collection

In [26]:
db.cars.drop()

## 3. Next steps

* Create image and then container that streams the tweets from twitter (Dockerfile, requirements.txt, get_tweets.py)
* Create a MongoDB container (already did this)
* Include pymongo in your get_tweets.py file to write the tweets into the MongoDB database inside of the container

#### What to add to your get_tweets script?


    
    client = pymongo.MongoClient("mongodb://mongodb:27017/")
    db = client.twitter
    collection = db.tweets
    db.tweets.insert_one(tweet)

* Pymongo Cheetsheet: https://developer.mongodb.com/quickstart/cheat-sheet/

### BONUS :
CRUD operations
https://docs.mongodb.com/manual/tutorial/remove-documents/