# Machine Learning Workflow

### 1. Define Business Goal

In [1]:
#Goal should be something measurable; e.g. create a model that penguin species with %85 accuracy

### 2. Get Data

*How else would you get data?

*web scraping (week4)
*published/public APIs (week6)
*buy data
*hacking
*sensor/camera/satellite data
*collect yourself, e.g. surveys

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("penguins_simple.csv",sep=";")
df

,Species,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex
0,Adelie,39.1,18.7,181.0,3750.0,MALE
1,Adelie,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,36.7,19.3,193.0,3450.0,FEMALE
4,Adelie,39.3,20.6,190.0,3650.0,MALE
...,...,...,...,...,...,...
328,Gentoo,47.2,13.7,214.0,4925.0,FEMALE
329,Gentoo,46.8,14.3,215.0,4850.0,FEMALE
330,Gentoo,50.4,15.7,222.0,5750.0,MALE
331,Gentoo,45.2,14.8,212.0,5200.0,FEMALE
332,Gentoo,49.9,16.1,213.0,5400.0,MALE

In [4]:
X=df[["Flipper Length (mm)","Body Mass (g)"]]
y=df["Species"]

In [5]:
X.shape,y.shape

((333, 2), (333,))

In [6]:
X

     Flipper Length (mm)  Body Mass (g)
0                  181.0         3750.0
1                  186.0         3800.0
2                  195.0         3250.0
3                  193.0         3450.0
4                  190.0         3650.0
..                   ...            ...
328                214.0         4925.0
329                215.0         4850.0
330                222.0         5750.0
331                212.0         5200.0
332                213.0         5400.0

[333 rows x 2 columns]

### 3. Train-Test Split

We tarin-test split to build a generalizable model that doesnt over fit. 
Doing train test split helps us detect overfitting- it doesnt help us prevent over fitting.
Regularization (next week) help us do that.

In [7]:
from sklearn.model_selection import train_test_split

In [13]:
#OPTION 1
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [9]:
#OPTION 2
#For EDA yyou my want to split the original dataframe, and assign X and y later
df_train,df_test=train_test_split(df,test_size=0.2,random_state=42)

### 4. Explore the Data

#Be creative!
*Plot all things!
*Check for mising data
*"df.corr()"
*sns.pairplot

Do data exploration in training data only!

### 5. Feature Engineering

FE is about finding the right respresentation for your data:
*Which features help me build a better model?
*How should I format them to include them into my model?

### 6. Train model

In [10]:
from sklearn.dummy import DummyClassifier

In [11]:
m=DummyClassifier() #logistic regression,decision tree,random forest

In [14]:
#train the model
m.fit(X_train,y_train)

DummyClassifier()

In [15]:
DummyClassifier()

DummyClassifier()

### 7. Optimize

In [ ]:
*Cross-Validation tomorrow
*Hyperparameter optimization next week

### 8. Calculate Test Score

In [16]:
m.score(X_train,y_train)

0.4323308270676692

In [17]:
m.score(X_test,y_test)

0.4626865671641791

In [18]:
#run this for Kaggle test dataset
m.predict(X_test_kaggle)

NameError: name 'X_test_kaggle' is not defined

### 9. Submit to Kaggle